{% extends "base.html" %}

{% block title %}Registro de Nueva Mipyme{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Crear Cuenta de Mipyme</h2>
                <form method="post">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-primary btn-lg">Registrar mi Empresa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}